<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299342499167-ajvd0b8m7i70lq5uaqtqm1p8o375bjjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299342499167-ajvd0b8m7i70lq5uaqtqm1p8o375bjjo</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9U-VAYPYXUusA8WPH-ja0u1pUvUVc5E</string>
	<key>GCM_SENDER_ID</key>
	<string>299342499167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingApp</string>
	<key>PROJECT_ID</key>
	<string>booklist-sample-e7eea</string>
	<key>STORAGE_BUCKET</key>
	<string>booklist-sample-e7eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299342499167:ios:9d88750f4a46ec98fdbaea</string>
</dict>
</plist>